<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <PublishDir>Publish\$(Configuration)\$(TargetFramework)\$(RuntimeIdentifier)\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <TargetFramework>net10.0</TargetFramework>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishReadyToRun>true</PublishReadyToRun>
        <DebuggerSupport>false</DebuggerSupport>
        <!--<PublishTrimmed>true</PublishTrimmed>-->
        <!--<TrimmerRemoveSymbols>true</TrimmerRemoveSymbols>-->

        <!-- 禁止生成 PDB 文件 -->
        <DebugType>None</DebugType>
        <DebugSymbols>false</DebugSymbols>
        <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>

        <!-- 跳过 Electron.NET 的 npm install 和 electron-builder 命令 -->
        <ElectronSkipExecCommands>true</ElectronSkipExecCommands>

        <!-- 设置 Electron 发布目录为与 .NET 发布目录相同 -->
        <ElectronPublishDir>$(PublishDir)</ElectronPublishDir>

    </PropertyGroup>
</Project>