#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: var(--g-title-bar-height, 32px);
    left: 0;
    z-index: 3000;
    width: 100%;
    height: 2px;
    background: var(--primary);
  }

  .peg {
    position: absolute;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
    opacity: 1;
    transform: rotate(3deg) translate(0, -4px);
  }

  .spinner {
    position: fixed;
    top: calc(var(--g-title-bar-height, 32px) + 11px);
    right: 14px;
    z-index: 2000;
    display: block;

    .spinner-icon {
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 2px transparent;
      border-top-color: var(--primary);
      border-left-color: var(--primary);
      border-radius: 50%;
      animation: nprogress-spinner 400ms linear infinite;
    }
  }
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;

  #nprogress .spinner,
  #nprogress .bar {
    position: absolute;
  }
}

@keyframes nprogress-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
